**/.vscode
**/twitter_credentials.json
**/twitter_object_dictionaries.json
**.lnk
**/mmr.zip
**/mmr/
**/mmr_graph/
**/log.txt
**/out/
**/.ipynb_checkpoints/
**/import.report
**/mmr.db
**/graph.db
**/*.csv
**/neo4j
**/data